h1{

background-image:url("../images/navy1.jpg");
width: 1000px;
height:50px;
border:1px solid #000;

}
h1{
font-weight: bold;
font-size: 1.5em;
}
h2{
font-weight: bold;
font-size: 0.875em;	
}
h3{
font-weight: bold;
font-size: 0.75em;	
}
h4{
font-weight: bold;
font-size: 0.625em;	
}
h5{
font-weight: bold;
font-size: 0.5625em;	
}
body{
max-width: 1000px;
margin:0 auto;
background-image:url("../images/bg4.jpg");
font:100%/1.5 "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
p{
  font-size:0.6875em;
padding: 0 0.015%;
}
#gallery{
border: 1px solid #000;
list-style-type: none;
width: 527px;
margin: 20px auto;
overflow:hidden;
padding: 5px;
}
li{
	float: left;
	margin-left:19px
}

#gallery a{
border: 5px solid #000;
height: 101px;
width: 130px;
outline: 0;
display: block;	
}
#gallery a:visited{
	border-color:#2c3848;
}
#gallery a:hover{
	border-color:#1c5db5;
}
#gallery a:active{
	border-color:#61a3fa;
}			
nav ul {
width: 960px;
height:25px;
font-family: verdana;
font-size: 13px;
line-height: 22px;
font-weight: bold;
border: 1px solid #000;
list-style-type: none;
background-image: url("../images/navy1.jpg");
}
nav a{
	float: left;
	width: 100px;
	height:25px;
	color: #000;
	text-decoration: none;
	text-align:center;
}
nav a:hover{
	float: left;
	width: 100px;
	height:25px;
	color: #fff;
	text-decoration: none;
	text-align:center;
background-image: url("../images/navy2.jpg");

}
#headercontainer{
	max-width:100%;
	margin: 0% auto;
}
	

#headercontainer img{
	max-width:100%;
}	
@media screen and(min-width:768x)and(max-width:1000px){
 #wrapper{background-color: #509cff;}
}
@media only screen and(min-width:480x)and(max-width:767px){
 #wrapper{background-color: #ff7743;}	
}
@media only screen and(max-width:479px){
 #wrapper{background-color: #d593ff;}	
}


