body{
font-family: Helvetica, Arial, sans-serif;
font-size: 100%;
line-height:1.5;
max-width:960px;
margin:0 auto;
background-image: url("../images/gray.jpg");
}
h1{
	text-shadow:2px 2px 2px #fff;
}
ul{
	width:960px;
	margin:0 auto;
	background:#666;
	list-style-type: none;
	padding:0;
	overflow:hidden;
}
ul li{
	width:100px;
	background:#FFF;
	float:left;
	}
	ul li a{
		text-decoration:none;
		background-color:#FFF;
		display:block;
		height:30px;
		line-height:30px;
		text-align:center;
		color:#000
		}
	   ul a:link{
	color: #000;
}
ul a:visited{
	color: #0988af;
	
}
ul a:hover{
	color: #fff;
	background-color:#f90930;
}
ul a:active{
	color: #4cf60a;
}
h2{
	font-family: 'Emblema One', cursive;
	}
p img{
	float:right
	}
	#speaker{
	background-image: url(../images/speaker.png);
	width:100%;
	
		}
		ol,li, h4 {
			color:#FFF;
			}
	#article{
		background-color: #acabb1;
		
		}
		article a:link{
	color:#000;
background-color: #666;
text-decoration:none;
border:1px solid#000;
border-radius:10px;
padding:1px;
}	
article a:visited{
	color:#dc4997;
}
article a:hover{
	color:#fff;
}
article a:active{
	color:#09f0f8;
}
#columns{
	-moz-column-count:4;
	opacity: 0.5;
	}
	
h5,h6{
	font-size: 1.125em;/*18/16*/
}
#photogallery{
	max-width:100%;
	text-align:center;
	}
	
#gallery{
		border:1px dashed #F00;
		list-style-type:none;
		width:50%px;
		
		
		}
		
#container {
	background-color:#999;
}
		
@media screen and (min-width:768px) and (max-width:959px){
	#container {
	background-color:red;
}
}
@media only screen and (min-width:480px) and (max-width:767px){
		#container {
	background-color:blue;
}
}
@media only screen and (min-width:380px) and (max-width:667px){
		#container {
	background-color:yellow;
}
}
