h1{
text-shadow:1px 1px 2px #fff;
}
body{
margin: 0;
padding: 0;
background-image:url("../images/bg.png");
}
#wrapper{
width: 960px;
margin:0 auto;
}
h1,h2,h3{
 margin:0;
 padding:15px 20px 0;
 }
 
 p{
 margin:0 20px;
 }
 ul{
 border: 1px dashed #000;
 list-style-type:none;
 width: 918px;
 margin: 1px auto;
 overflow:hidden;
 
 }
 
li{
float:left;
margin-left: 40px;
}

a:link{
color: #fff;
}

a:visited{
color: #efo8cc;
} 

a:hover{
color: #5e8466;
}
 
 a:active{
color: #f90522;
}

